// ❏ Media Queries

@mixin mq($break) {
  @if $break == null {
      @error "`#{$break}` is not a valid breakpoint name.";
  }
  @else if $break == 'lg' {
      @media (min-width: $break-lg) {
          @content;
      }
  }
}

// ❏ Flexbox settings

@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}

// Font settings

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-style($color: null, $weight: null, $lh: null, $style: null) {
  color: $color;
  font-weight: $weight;
  line-height: $lh;
  font-style: $style;
}