// Create mixins for the following:
// ❏ Media Queries
// ❏ Flexbox settings
@mixin mq($break) {
  @if $break == null {
      @error "`#{$break}` is not a valid breakpoint name.";
  }
  @else if $break == 'lg' {
      @media (min-width: $break-lg) {
          @content;
      }
  }
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}