%btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px 20px;
  border: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  width: 90%;
}

%links {
  color: #535050;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 7px;
}

%img {
  display: block;
}