  .btn--default {
    @extend %btn;
    background-color: $aqua;
  }
  .btn--success {
    @extend %btn;
    background-color: $turquoise-blue;
  }
  .btn--error {
    @extend %btn;
    background-color: $roman;
  }
  .btn--warning {
    @extend %btn;
    background-color: $cinnabar;
  }
  .btn--info {
    @extend %btn;
    background-color: $medium-purple;
  }
