// Image:
// .img--logo
// .img--frame
// .img--avatar
.img {
  &--logo {
    @extend %img;
    margin: 50px auto;
    @include mq(lg) {
    margin: 0 30px;
     }
  }
  &--avatar {
    @extend %img;
    height: 199px;
    width: 199px;
    margin: 20px auto 0 auto;
  }
  &--frame {
    @extend %img;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 0.1px solid $color-text-base;
  }
}