// Image:
// .img--logo
// .img--frame
// .img--avatar
.img{
  &--logo {
  display: block;
  margin: 50px auto;
  @include mq(lg) {
    margin: 0 30px;
     }
  }
  &--avatar {
    display: block;
    height: 199px;
    width: 199px;
    margin: 20px auto 0 auto;
  }
  &--frame {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 0.1px solid $color-text-base;
  }
}