.nav {
    width: 100%;
    text-align: center;
    a {
    border-radius: 5px;
    color: #979393;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.2s, color 0.3s, transform 0.2s;
    &:hover {
        color: white;
        background-color: $turquoise-blue;
        font-weight: 600;
    }
  }
}

@include mq(lg) {
    .nav {
        @include flexy($just: space-around);
        margin-right: 50px;
    }
    .grid__row .grid__col--9 {
        @include flexy($dir: row, $just: space-around);
        flex: 2;
      }
}






