.container {
  width: 85%;
  margin: 20px auto;
  font-family: $font-stack;
  color: $color-text-base;
  @include mq(lg) {
    @include font-size(18px);
      max-width: 1150px;
      line-height: 1.5;
  }
}
.card {
  margin: 0 auto;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  .grid__col--12 & {
    padding-top: 50px;
    padding-bottom: 50px;
    @include mq(lg) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
.headline {
  &--primary {
  @include font-style($color: $color-primary);
  padding-left: 20px;
}
  &--secondary {
    @include font-style($weight: 200);
  }
}

.link {
  @include font-style($color: $color-secondary, $weight: 600);
  text-decoration: none;
}
.blockquote {
  @include font-size(25px);
  @include font-style($weight: 300, $style: italic);
  border-left: solid $color-primary 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 20px;
  padding-left: 20px;
}