// Only use the universal selector, *, ul tag, and p tags
* {
  box-sizing: border-box;
}
.container {
  text-align: center;
  margin: 0 auto;
  font-family: 'Helvetica Neue', serif;
  color: #6e6b6b;
  font-size: 17px;
}