// Only use the universal selector, *, ul tag, and p tags
* {
  box-sizing: border-box;
}
.grid__col--9 {
  ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
  }
}
.card {
  p {
    color: #979393;
  }
}